@import "colors";

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 186px); 
}
.grid-container__wrapper{
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 23px;
}
.grid-container__item {
    background-color: rgba(255, 255, 255, 255);
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    font-size: 30px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    
    .item__svg-position {
        margin-left: 32px;
        margin-top: -24px;
    }
}
.item__1{
    background: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    color: $White;
    font-size: 30px;
    p {
        margin-top: 64px;
        margin-left: 32px;
        font-style: normal;
        font-weight: 800;
        font-size: 60%;
    }
}
.item__2 {
    h1 {
        line-height: 30px;
        font-style: normal;
        font-weight: 800;
        font-size: 60%;
        color: $YankeesBlue;
        margin: 0;
    }
    p {
        font-style: normal;
        font-weight: 500;
        font-size: 1.25vw;
        line-height: 28px;
        color: $RomanSilver;
        margin: 24px 0;
        padding: 0;
        white-space: nowrap;
        
    }
    button {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        background: $White;
        color: $SasquatchSocks;
        border: none;
        padding: 0;
        cursor: pointer;
    }
}
.item__3 {
    h1 {
        line-height: 30px;
        font-style: normal;
        font-weight: 800;
        font-size: 60%;
        color: $YankeesBlue;
        margin: 0;
    }
    p {
        font-style: normal;
        font-weight: 500;
        font-size: 60%;
        line-height: 28px;
        color: $RomanSilver;
        margin: 24px 0;
        padding: 0;
        white-space: nowrap;
        
    }
    button {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        background: $White;
        color: $SasquatchSocks;
        border: none;
        padding: 0;
        cursor: pointer;
    }
}
.item__4 {
    h1 {
        line-height: 30px;
        font-style: normal;
        font-weight: 800;
        font-size: 60%;
        color: $YankeesBlue;
        margin: 0;
    }
    p {
        font-style: normal;
        font-weight: 500;
        font-size: 60%;
        line-height: 28px;
        color: $RomanSilver;
        margin: 24px 0;
        padding: 0;
        white-space: nowrap;
        
    }
    button {
        font-style: normal;
        font-weight: 700;
        font-size: 60%;
        line-height: 28px;
        background: $White;
        color: $SasquatchSocks;
        border: none;
        padding: 0;
        cursor: pointer;
    }
}
.item__5 {
    h1 {
        line-height: 30px;
        font-style: normal;
        font-weight: 800;
        font-size: 60%;
        color: $YankeesBlue;
        margin: 0;
    }
    p {
        font-style: normal;
        font-weight: 500;
        font-size: 60%;
        line-height: 28px;
        color: $RomanSilver;
        margin: 24px 0;
        padding: 0;
        white-space: nowrap;
        
    }
    button {
        font-style: normal;
        font-weight: 700;
        font-size: 1.2vw;
        line-height: 28px;
        background: $White;
        color: $SasquatchSocks;
        border: none;
        padding: 0;
        cursor: pointer;
    }
}
.item__6 {
    h1 {
        line-height: 30px;
        font-style: normal;
        font-weight: 800;
        font-size: 60%;
        color: $YankeesBlue;
        margin: 0;
    }
    p {
        font-style: normal;
        font-weight: 500;
        font-size: 60%;
        line-height: 28px;
        color: $RomanSilver;
        margin: 24px 0;
        padding: 0;
        white-space: nowrap;
        
    }
    button {
        font-style: normal;
        font-weight: 700;
        font-size: 1.2vw;
        line-height: 28px;
        background: $White;
        color: $SasquatchSocks;
        border: none;
        padding: 0;
        cursor: pointer;
    }
}



@media (max-width: 750px) {
    .grid-container {
        display: grid;
        gap: 32px 10px; 
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 120px repeat(5, 259px);
        
        margin-top: 13px;
        margin-bottom: -64px;
        button {
            font-size: 60%;
        }
        h1 {
            margin-top: -13px;
        }
        p {
            margin: 7px 0;
            font-size: 4.25vw;
        }
        .item__1 {
            height: 120px;
            p{
                margin-left: 33px
            }
        }
        
        .item__1 p {
            font-size: 30px;
            margin-top: 20px;
        }
        .item__1 br:not(.break) {
            display: none;
        }
    }
}
@media (min-width: 750px) and (max-width: 1130px) {
    .grid-container {
        display: grid;
        gap: 32px 10px; 
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-template-rows: repeat(3, 259px);
        margin-top: -170px;
    margin-bottom: -76px;

    }
    .grid-container__wrapper {
        margin-top: 2px;
        p {
            margin: 9px 0;
        }
    }
    .grid-container__wrapper > button {
        font-size: 18px;
    }
    .item__1 {
        font-size: 40px;
        width: 340px;
        justify-self: end;
        p > br:not(.break) {
            display: none;
        }
    }
    .item__2 {
        width: 340px;
        justify-self: start;
        p {
            font-size: 60%;
        }
    }
    .item__3 {
        width: 340px;
        justify-self: end;
    }
    .item__4 {
        width: 340px;
        justify-self: start;
    }
    .item__5 {
        width: 340px;
        justify-self: end;
    }
    .item__6 {
        width: 340px;
        justify-self: start;
    }
}
@media (min-width: 1130px) {
    .grid-container {
        display: grid;
        gap: 54px 29px; 
        /* grid-template-columns: repeat(3, 1fr); */
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: repeat(2, 322px);
        margin-top: -184px;
        margin-bottom: -42px;
        .item__1 {
            font-size: 51px;
            .break {
                display: none;
            }
        }
        
        .grid-container__wrapper > p {
            font-size: 1.20vw
        }
    }
}



