body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    background-color: red;
    height: 450px; // 800/450
    margin: auto;
    width: 650px; // 1400/600
    display: flex;


    .section1 {
        background-color: purple;
        width: 50%;  

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    
    .section2 {
        background-color: green;
        width: 50%;
    }
}

