body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    background-color: red;
    height: 450px; // 800/450
    margin: auto;
    width: 650px; // 1400/600
    display: flex;


    .section1 {
        background-color: purple;
        width: 50%;  
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    
    .section2 {
    
        background-color: green;
        padding-left: calc((31.5/325)*50%);
        width: 50%;
        .section2-title {

            font-family: 'Montserrat';
            font-size: 12px;
            font-style: normal;
            letter-spacing: 5px;
            line-height: 15px;
            position: relative;
            margin: 0;
            top: ((32/450)*100%);
            
        }
    }
}

