/* https://www.color-name.com/ */

$DarkBlueGray: #666CA3;
$YankeesBlue: #13183F;
$RomanSilver: #83869A;
$SasquatchSocks: #F74780;
$CarnationPink: #FFA7C3;
$White: #FFFFFF;
$GradientOrange: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
$GradientBlue: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);
$GradientPink: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
$lol: 100vw;



