@import "colors";

footer {
    align-items: center;
    background-color: $YankeesBlue;
    display: flex;
    justify-content: space-between;
    height: 120px;
    margin-top: 140px;
  
    .header__left-brand-name{
        color: $White;
        margin-left: (164 / 1440) * 100%;
        font-family: 'Plus Jakarta Sans's, sans-serif;
        font-weight: 800;
        font-size: 36px;
        height: 45px;
        width: 114px;
    }
    .header__right-button-wrapper {
        margin-right: (164 / 1440) * 100%;
        .header__right-button{
            background: $GradientBlue;
            border: none;
            border-radius: 28px;
            color: $White;
            font-family: 'Plus Jakarta Sans', sans-serif;
            font-weight: 700;
            font-size: 18px;
            font-style: normal;
            height: 56px;
            line-height: 28px;
            
            padding: 0;
            width: 167px;
        }
        .header__right-button:hover {
            background: $GradientPink;
            cursor: pointer;
        }
    }
}