/* https://www.color-name.com/ */
header {
  align-items: center;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}
header .header__left-brand-name {
  font-family: "Plus Jakarta Sans" s, sans-serif;
  font-weight: 800;
  font-size: 36px;
  height: 45px;
  width: 114px;
}
header .header__right-button-wrapper {
  z-index: 3;
}
header .header__right-button-wrapper .header__right-button {
  background-color: #13183F;
  border: none;
  border-radius: 28px;
  color: #FFFFFF;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  height: 56px;
  line-height: 28px;
  padding: 0;
  width: 167px;
}
header .header__right-button-wrapper .header__right-button:hover {
  background: #666CA3;
  cursor: pointer;
}

/* https://www.color-name.com/ */
:root {
  --A: 100px;
}

@media (max-width: 750px) {
  .main {
    text-align: -webkit-center;
  }
}
.main {
  white-space: nowrap;
  height: 100vh;
}
.main .main__text-block {
  height: 359px;
  width: 457px;
  position: relative;
  top: 178px;
  vertical-align: top;
  margin-top: -35px;
}
@media (max-width: 750px) {
  .main .main__text-block {
    display: block;
    margin-top: -165px;
  }
}
.main .main__text-block .text-block__h1 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 71px;
  color: #13183F;
  margin-bottom: 29px;
}
@media (min-width: 750px) and (max-width: 1130px) {
  .main .main__text-block .text-block__h1 {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
  }
}
.main .main__text-block .text-block__p {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #83869A;
  margin-bottom: 39px;
}
@media (min-width: 750px) and (max-width: 1130px) {
  .main .main__text-block .text-block__p {
    font-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
  }
}
.main .main__text-block .text-block__button {
  width: 167px;
  height: 63px;
  color: #FFFFFF;
  background: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
  border: none;
  border-radius: 31.5px;
}
@media (min-width: 750px) and (max-width: 1130px) {
  .main .main__text-block .text-block__button {
    ont-family: "Plus Jakarta Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
  }
}
.main .main__text-block .text-block__button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  cursor: pointer;
}
.main .main__image {
  display: inline-block;
}
@media (max-width: 750px) {
  .main .main__image {
    display: block;
  }
}
@media (max-width: 749px) {
  .main .main__image img {
    position: relative;
    top: 167px;
    margin-top: 27px;
  }
}
@media (min-width: 1130px) {
  .main .main__image img {
    background-color: transparent;
    top: -18%;
    width: 100%;
    height: 100%;
    right: -38%;
    -o-object-fit: contain;
    object-fit: contain;
    border: 1px red;
    position: absolute;
  }
}
@media (min-width: 750px) and (max-width: 1130px) {
  .main .main__image img {
    left: 45%;
    top: -14%;
    width: 100%;
    height: 100%;
    position: absolute;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 749px) {
  .main .main__image img {
    position: relative;
    top: 153px;
    display: unset;
  }
}

/* https://www.color-name.com/ */
/* https://www.color-name.com/ */
footer {
  align-items: center;
  background-color: #13183F;
  display: flex;
  justify-content: space-between;
  height: 120px;
  margin-top: 140px;
}
footer .header__left-brand-name {
  color: #FFFFFF;
  margin-left: 11.3888888889%;
  font-family: "Plus Jakarta Sans" s, sans-serif;
  font-weight: 800;
  font-size: 36px;
  height: 45px;
  width: 114px;
}
footer .header__right-button-wrapper {
  margin-right: 11.3888888889%;
}
footer .header__right-button-wrapper .header__right-button {
  background: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);
  border: none;
  border-radius: 28px;
  color: #FFFFFF;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  height: 56px;
  line-height: 28px;
  padding: 0;
  width: 167px;
}
footer .header__right-button-wrapper .header__right-button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  cursor: pointer;
}

/* https://www.color-name.com/ */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 186px);
}

.grid-container__wrapper {
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 23px;
}

.grid-container__item {
  background-color: rgb(255, 255, 255);
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  font-size: 30px;
  border-radius: 10px;
  border-style: none;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
}
.grid-container__item .item__svg-position {
  margin-left: 32px;
  margin-top: -24px;
}

.item__1 {
  background: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  color: #FFFFFF;
  font-size: 30px;
}
.item__1 p {
  margin-top: 64px;
  margin-left: 32px;
  font-style: normal;
  font-weight: 800;
  font-size: 60%;
}

.item__2 h1 {
  line-height: 30px;
  font-style: normal;
  font-weight: 800;
  font-size: 60%;
  color: #13183F;
  margin: 0;
}
.item__2 p {
  font-style: normal;
  font-weight: 500;
  font-size: 1.25vw;
  line-height: 28px;
  color: #83869A;
  margin: 24px 0;
  padding: 0;
  white-space: nowrap;
}
.item__2 button {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  background: #FFFFFF;
  color: #F74780;
  border: none;
  padding: 0;
  cursor: pointer;
}

.item__3 h1 {
  line-height: 30px;
  font-style: normal;
  font-weight: 800;
  font-size: 60%;
  color: #13183F;
  margin: 0;
}
.item__3 p {
  font-style: normal;
  font-weight: 500;
  font-size: 60%;
  line-height: 28px;
  color: #83869A;
  margin: 24px 0;
  padding: 0;
  white-space: nowrap;
}
.item__3 button {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  background: #FFFFFF;
  color: #F74780;
  border: none;
  padding: 0;
  cursor: pointer;
}

.item__4 h1 {
  line-height: 30px;
  font-style: normal;
  font-weight: 800;
  font-size: 60%;
  color: #13183F;
  margin: 0;
}
.item__4 p {
  font-style: normal;
  font-weight: 500;
  font-size: 60%;
  line-height: 28px;
  color: #83869A;
  margin: 24px 0;
  padding: 0;
  white-space: nowrap;
}
.item__4 button {
  font-style: normal;
  font-weight: 700;
  font-size: 60%;
  line-height: 28px;
  background: #FFFFFF;
  color: #F74780;
  border: none;
  padding: 0;
  cursor: pointer;
}

.item__5 h1 {
  line-height: 30px;
  font-style: normal;
  font-weight: 800;
  font-size: 60%;
  color: #13183F;
  margin: 0;
}
.item__5 p {
  font-style: normal;
  font-weight: 500;
  font-size: 60%;
  line-height: 28px;
  color: #83869A;
  margin: 24px 0;
  padding: 0;
  white-space: nowrap;
}
.item__5 button {
  font-style: normal;
  font-weight: 700;
  font-size: 1.2vw;
  line-height: 28px;
  background: #FFFFFF;
  color: #F74780;
  border: none;
  padding: 0;
  cursor: pointer;
}

.item__6 h1 {
  line-height: 30px;
  font-style: normal;
  font-weight: 800;
  font-size: 60%;
  color: #13183F;
  margin: 0;
}
.item__6 p {
  font-style: normal;
  font-weight: 500;
  font-size: 60%;
  line-height: 28px;
  color: #83869A;
  margin: 24px 0;
  padding: 0;
  white-space: nowrap;
}
.item__6 button {
  font-style: normal;
  font-weight: 700;
  font-size: 1.2vw;
  line-height: 28px;
  background: #FFFFFF;
  color: #F74780;
  border: none;
  padding: 0;
  cursor: pointer;
}

@media (max-width: 750px) {
  .grid-container {
    display: grid;
    gap: 32px 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 120px repeat(5, 259px);
    margin-top: 13px;
    margin-bottom: -64px;
  }
  .grid-container button {
    font-size: 60%;
  }
  .grid-container h1 {
    margin-top: -13px;
  }
  .grid-container p {
    margin: 7px 0;
    font-size: 4.25vw;
  }
  .grid-container .item__1 {
    height: 120px;
  }
  .grid-container .item__1 p {
    margin-left: 33px;
  }
  .grid-container .item__1 p {
    font-size: 30px;
    margin-top: 20px;
  }
  .grid-container .item__1 br:not(.break) {
    display: none;
  }
}
@media (min-width: 750px) and (max-width: 1130px) {
  .grid-container {
    display: grid;
    gap: 32px 10px;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(3, 259px);
    margin-top: -170px;
    margin-bottom: -76px;
  }
  .grid-container__wrapper {
    margin-top: 2px;
  }
  .grid-container__wrapper p {
    margin: 9px 0;
  }
  .grid-container__wrapper > button {
    font-size: 18px;
  }
  .item__1 {
    font-size: 40px;
    width: 340px;
    justify-self: end;
  }
  .item__1 p > br:not(.break) {
    display: none;
  }
  .item__2 {
    width: 340px;
    justify-self: start;
  }
  .item__2 p {
    font-size: 60%;
  }
  .item__3 {
    width: 340px;
    justify-self: end;
  }
  .item__4 {
    width: 340px;
    justify-self: start;
  }
  .item__5 {
    width: 340px;
    justify-self: end;
  }
  .item__6 {
    width: 340px;
    justify-self: start;
  }
}
@media (min-width: 1130px) {
  .grid-container {
    display: grid;
    gap: 54px 29px;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(2, 322px);
    margin-top: -184px;
    margin-bottom: -42px;
  }
  .grid-container .item__1 {
    font-size: 51px;
  }
  .grid-container .item__1 .break {
    display: none;
  }
  .grid-container .grid-container__wrapper > p {
    font-size: 1.2vw;
  }
}
* {
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  /*background-color: $White;*/
  margin: 0;
  overflow-x: hidden;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(131, 136, 154) 400%);
  /* overflow: hidden; */
}

.wrapper {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(131, 136, 154) 400%);
  background-color: #FFFFFF;
  height: 100%;
  margin-left: 11.3888888889%;
  margin-right: 11.3888888889%;
}
@media (min-width: 750px) and (max-width: 1130px) {
  .wrapper {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (max-width: 750px) {
  .wrapper {
    margin-left: 16px;
    margin-right: 16px;
  }
}/*# sourceMappingURL=style.css.map */